@model IEnumerable<MvvmTools.Web.Models.MvvmTemplateCategory>

@{
    ViewBag.Title = "Index";
}

<div class="pageheader">
    <h1>Categories</h1>
</div>
<section id="main-content">
    <p>@Html.ActionLink("Create New Category", "Create", null, new {@class = "btn btn-primary btn-sm"})</p>
    <table class="table">
        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>*@

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn btn-default btn-xs", style = "margin-right:5px;"})
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new {@class = "btn btn-default btn-xs"})
                </td>
            </tr>
        }
    </table>
</section>