<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVVM Tools | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     @Scripts.Render("~/bundles/ie")
     <![endif]-->

</head>
<body>
    <!-- Page Wrapper-->
    <section id="main-wrapper" class="theme-default">
    
    @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "__AjaxAntiForgeryForm"}))
    {
        @Html.AntiForgeryToken()
    }

        <!-- Top Header -->
    @Html.Partial("_Header")

    <!-- Left Sidebar Navigation -->
    @Html.Partial("_LeftSideBar")

    <!-- Content wraper -->
    <section class="main-content-wrapper">
        <!-- Main view -->
        @RenderBody()

        <footer class="panel-footer">
            <p class="muted credit">&copy; @DateTime.Now.Year Chris Bordeman</p>
        </footer>
    </section>
    <!-- /Content wraper-->

    </section><!-- /Page Wrapper-->

    <!-- Right Sidebar -->
    @Html.Partial("_RightSideBar")

    <script language="javascript">
        @* This function works with the form above containing Html.AntiForgeryToken().  
            It allows a POST without a form. *@
        function posttourl(url, gotourl) {
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    __RequestVerificationToken: token,
                },
                success: function (result) {
                    if (result === true)
                        location.href = gotourl;
                },
                async: false
            });
            return false;
        };
    </script>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/navgoco")
    @Scripts.Render("~/plugins/pace")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>