@model MvvmTools.Web.Models.MvvmTemplate

@{
    ViewBag.Title = "Delete Template";
}

<div class="pageheader">
    <h1>@ViewBag.Title</h1>
    <p class="description">Are you sure you want to delete this template?</p>
</div>

<section id="main-content">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Enabled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Enabled)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Language)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Language)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MvvmTemplateCategory.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MvvmTemplateCategory.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tags)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tags)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ViewModel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ViewModel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.View)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.View)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" style="margin-right: 5px"/>
                <button class="btn" onclick="window.history.back();">Cancel</button>
            </div>
        }
    </div>
</section>