@using Microsoft.AspNet.Identity
@using MvvmTools.Web.Extensions
@model MvvmTools.Web.Models.TemplateIndexViewModel

@{
    ViewBag.Title = "My Templates";
}

<div class="pageheader">
    <h1>@ViewBag.Title</h1>
    <p>These are the templates you own and are shared by the community of MVVM Tools users.</p>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>
                <a href="">Templates</a>
            </li>
            <li class="active">My Templates</li>
        </ol>
    </div>
</div>
<section id="main-content">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body ng-binding">
                    <h2>Configuration</h2>
                    <hr />
                    @using (Html.BeginForm("MyIndex", "MvvmTemplates", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <fieldset>
                            <ul class="ul-no-list-style">
                                <li class='panel'>
                                    @Html.Label("author", "Author:")
                                    @Html.TextBox("author", @Model.Author, new { @class = "text" })
                                </li>
                                <li class='panel'>
                                    @Html.CheckBoxAndLabelFor(m => m.ShowTemplates)
                                </li>
                                <li class='panel'>
                                    <input type="submit" class="btn btn-default btn-sm" value="Save">
                                </li>
                            </ul>
                        </fieldset>
                    }
                    <hr />
                    <h2>Templates</h2>
                    <hr />
                    <p>@Html.ActionLink("Create New Template", "Create", null, new { @class = "btn btn-primary btn-sm" })</p>
                    @using (Html.BeginForm("MyIndex", "MvvmTemplates", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        <fieldset>
                            <ul class="ul-no-list-style">
                                <li class='panel'>
                                    @Html.Label("selectedAuthor", "Author:")
                                    @Html.DropDownList("author", @Model.Authors)
                                </li>
                                <li class='panel'>
                                    @Html.Label("selectedLanguage", "Language:")
                                    @Html.DropDownList("language", @Model.Languages)
                                </li>
                                <li class='panel'>
                                    @Html.Label("selectedCategory", "Category:")
                                    @Html.DropDownList("category", @Model.Categories)
                                </li>
                                <li class='panel'>
                                    @Html.TextBox("search", @Model.Search, new { placeholder = "Search...", type = "text", @class = "search", css = "width=100px" })
                                </li>
                                <li class='panel'>
                                    <input type="submit" class="btn btn-default btn-sm" value="Apply">
                                </li>
                            </ul>
                        </fieldset>
                    }
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Templates.First().Author)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Templates.First().Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Templates.First().Language)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Templates.First().Category)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Templates)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Author)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Language)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category)
                                    </td>
                                    <td>
                                        @if (Model.Author == item.Author)
                                        {
                                            @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn btn-default btn-xs", style = "margin-right:5px;" })
                                            @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new {@class = "btn btn-default btn-xs" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
